<h1>EAT-DA-BURGER!</h1>
<main>


    <div class="row">
    <div class="col-md-6 text-center">
        <h3>Burger Daily Menu</h3>
                {{#each burger}}
                {{#unless devoured}}
                <h3>{{this.burger_name}}</h3>
                <form class="devour-form">
                <input class="burger_id" type="hidden" name="devoured" value={{this.id}}>
                <button type="submit" class="btn btn-success btn-sm">Devour it!</button>
                </form>
                {{/unless}}
                {{/each}}
    </div>

      <div class="col s6">
        {{#each burger}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
               <p>{{this.burger_name}}</p>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Create a New Burger!</h2>
<hr>

<h2>New Burgers</h2>
<div class="row">
  <div class="col s12">
    <form action="/api/burger" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Burger Name">
      <button type="submit" class="addBurgerButton">Add the burger</button>
      <h2>Would you like to order some more?</h2>
    </form>
  </div>
</div>