{{!-- <form action ='/burger/delete/{{this.id}}?_method=DELETE' method='POST'> --}}
    <button class="delete-burger" action="/burgers/delete-burger/{{this.id}}?_method=DELETE">Devour this burger!</button>
{{!-- </form> --}}